<p id="notice"><%= notice %></p>

<h1>家計簿</h1>
<%= form_tag({ controller: :kakeibos, action: :list }, { :method => :post, :id => 'f' }) do %>
  <p>
  日毎<%= radio_button 'kakeiboListForm', 'serch_date' , 'day'   , {} %>　
  月毎<%= radio_button 'kakeiboListForm', 'serch_date' , 'month' , {} %>　
  年毎<%= radio_button 'kakeiboListForm', 'serch_date' , 'year'  , {} %>　
  </p>
  <%= submit_tag '検索' %>
<% end %>

<table class="list">
  <thead>
    <tr>
      <th class="listheader" >年</th>
      <th class="listheader" >月</th>
      <th class="listheader" >食費</th>
      <th class="listheader" >娯楽</th>
      <th class="listheader" >交際費</th>
      <th class="listheader" >交通費</th>
      <th class="listheader" >日用品</th>
      <th class="listheader" >備品</th>
      <th class="listheader" >美容費</th>
      <th class="listheader" >自己投資</th>
      <th class="listheader" >その他</th>
      <th class="listheader" >合計</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% if ! @kakeibos.nil?  %>
        <% @kakeibos.each do |kakeibo| %>
        <tr>
            <td class="listbody" style="text-align: right"><%= kakeibo.kicho_year %></td>
            <td class="listbody" style="text-align: right"><%= kakeibo.kicho_month %></td>
            <td class="listbody" style="text-align: right"><%= kakeibo.food_exp %></td>
            <td class="listbody" style="text-align: right"><%= kakeibo.amusement %></td>
            <td class="listbody" style="text-align: right"><%= kakeibo.entertainment_exp %></td>
            <td class="listbody" style="text-align: right"><%= kakeibo.transport_exp %></td>
            <td class="listbody" style="text-align: right"><%= kakeibo.daily_necessities %></td>
            <td class="listbody" style="text-align: right"><%= kakeibo.fixture %></td>
            <td class="listbody" style="text-align: right"><%= kakeibo.beauty_exp %></td>
            <td class="listbody" style="text-align: right"><%= kakeibo.jiko_toushi %></td>
            <td class="listbody" style="text-align: right"><%= kakeibo.otherwise_exp %></td>
            <td class="listbody" style="text-align: right"><%= kakeibo.food_exp.to_i +
                    kakeibo.amusement.to_i +
                    kakeibo.entertainment_exp.to_i +
                    kakeibo.transport_exp.to_i +
                    kakeibo.daily_necessities.to_i +
                    kakeibo.fixture.to_i +
                    kakeibo.beauty_exp.to_i +
                    kakeibo.jiko_toushi.to_i +
                    kakeibo.otherwise_exp.to_i
                %></td>
        </tr>
        <% end %>
    <% end %>
  </tbody>
</table>
<br>
